/* 秒杀 */
.sale {
  border-bottom: 2px solid red;
  font-size: 14px;
  margin-top: 20px;
}
.sale ul li {
  display: inline-block;
  margin-left: 40px;
  height: 30px;
}
.sale ul li a:visited {
  color: #000;
}
.sale ul li:nth-of-type(-n + 3) {
  font-size: 16px;
  font-weight: 700;
}
.sale ul li:last-child a::after {
  content: '\e91e';
  font-family: 'icomoon';
}
/* 手机模块 */
.phone-list {
  position: relative;
  width: 289px;
  height: 454px;
  margin: 0px 10px 2px -1px;
  border: 1px solid white;
}
.phone-list:hover {
  border: 1px solid red;
  z-index: 999;
}
.phone-list .phone-con-dt {
  margin: 23px 66px;
  border: 1px solid red;
  width: 148px;
  height: 250px;
}
.phone-boxs {
  width: 255px;
  margin: 0px auto;
}
.phone-con-dd {
  font-size: 14px;
  color: #666666;
  line-height: 30px;
}
.pirce span:first-of-type {
  color: red;
  font-size: 22px;
}
.pirce span:last-of-type {
  font-size: 14px;
  color: #999999;
  font-weight: 550;
  text-decoration: line-through;
}
.sold {
  font-size: 12px;
  color: #666666;
}
.sold .loading-boxs {
  display: inline-block;
  border: 1px solid red;
  width: 130px;
  height: 10px;
  border-radius: 11px;
  position: relative;
  bottom: -3px;
}
.sold .loading-box {
  background: red;
  width: calc(50% + 9px);
  height: 12px;
  border-radius: 11px;
  margin: -1px -1px;
}
.phone-list button {
  width: calc(100% + 1px);
  height: 40px;
  color: white;
  background-color: red;
  margin-top: 14px;
  margin-left: -1px;
}
/* 联系我们 */
.contact {
  position: fixed;
  right: 0;
  bottom: 15px;
  z-index: 999;
}
.contact .contact-txt {
  text-align: center;
  font-size: 12px;
}
.contact img {
  width: 100px;
  height: 100px;
}
