/* 旗舰店模块 */

.flag {
  width: 210px;
  background-color: #f7f7f7;
  height: 800px;
  margin-top: -2px;
}

/* 介绍模块 */
.nav {
  margin-left: 10px;
}
.details-list {
  width: 980px;
  background-color: #f1f1f1;
  border-bottom: 1px solid red;
  margin-top: -2px;
}
.details-list a:hover {
  text-decoration: none;
}
.details-list ul li .on {
  background-color: #e4393c;
  color: white;
}
.details-list ul li .special {
  width: 147.95px;
}
.details-list ul li a {
  font-size: 14px;
  float: left;
  width: 120px;
  text-align: center;
  line-height: 37.6px;
  color: #666;
}
.details-list button {
  font-size: 12px;
  background-color: #e4393c;
  color: white;
  height: 28px;
  line-height: 28px;
  width: 90px;
  margin: 5px 10px;
}
.details-con .item:nth-child(n + 2) {
  display: none;
}
